<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #feature-container {
            text-align: center;
            margin: 20px;
        }

        #feature-title {
            margin-bottom: 10px;

        }

        #feature-list {
            margin-bottom: 20px;
        }

        .feature-btn {
            padding: 20px;
            margin: 10px;
        }

        #choices-container {
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <!-- <p>Groups available: {{ microFeatures[0][0] | list | join(", ") }}</p> This was a debug statement -->
    <u>
        <h2 style="text-align: center;">Every Plan Comes With</h2>
    </u>
    <!-- <h2 id="debug">This is my Debug</h2> -->
    <div id="feature-description">
    <p>1 TB Cloud Storage per user - Anytime Phone and Web Support - File Access from
        Computer, Tablet, or Phone - Real-Time Coauthoring and Editing - Spam and Malware Cloud-Based Email Filtering - Password Policy
        Management - Multifactor Authentication - Security Groups and Custom Permissions - Web and Mobile 
        Versions of Word, Excel, PowerPoint, and OneNote</p>
    </div>
    <div>
        <u><h2 style="text-align: center;">Click on Features to Choose Specific Functionality You Want!</h2></u>
    </div>
    <div id="feature-container">
        <h2 id='group'></h2>
        <div id="feature-list">
        </div>
    </div>
    <div id="choices-container">
        <button id="reject" class="feature-btn">Back</button>
        <button id="accept" class="feature-btn">Next Features</button>
    </div>

    <script type="text/javascript">
        console.log('script is up')
        let selectedItems = [];
        let currentindex = 0
        var groups = {{ groups | safe}}
        var features = {{ features | safe}}
        var size = {{ size | safe}}
        var microFeatures = {{microFeatures | safe}}
        const featuresList = document.getElementById('feature-list');
        //Update Checks
        function updateSelection(checkbox) {
            if (checkbox.checked) {
                selectedItems.push(checkbox.value);
            } else {
                const index = selectedItems.indexOf(checkbox.value);
                if (index > -1) {
                    selectedItems.splice(index, 1);
                }
            }
            // document.getElementById('debug').innerText = selectedItems; Debug statement I used
        }

        //Update Page
        function updatePage() {
            if (currentindex < size) {
                let microindex = 0
                featuresList.innerHTML = '';
                document.getElementById('group').textContent = groups[currentindex];
                features[currentindex].forEach(feature => {
                const div = document.createElement('div');
                div.textContent = feature;
                div.classList.add('feature-item'); // Added a class for styling
                div.onclick = function(){
                    this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';
                };
                featuresList.appendChild(div);
                //ADD MICRO FEATURES THIS WILL BE BAD TO START
                const featureContainer = document.createElement('div');
                featureContainer.classList.add('feature-check')
                featureContainer.style.display = 'none'; 
                microFeatures[currentindex][microindex].forEach(microFeature =>{
                    const label = document.createElement('label');
                    const checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.value = microFeature;
                    if (selectedItems.includes(checkbox.value) ){
                        checkbox.checked = true
                    }
                    checkbox.onchange = function() { updateSelection(checkbox); };
                    label.appendChild(checkbox);
                    label.appendChild(document.createTextNode(' ' + microFeature)); 
                    featureContainer.appendChild(label);
                    });
                    microindex++
                    featuresList.appendChild(featureContainer);
                });
            } else {
                let container = document.getElementById('feature-container');
                container.innerHTML = '<h2>Selected Features</h2>';
                let list = document.createElement('ul');
                selectedItems.forEach(function(item) {
                    let listItem = document.createElement('li');
                    listItem.textContent = item; 
                    list.appendChild(listItem); 
                });

               
                container.appendChild(list);
                document.getElementById('accept').textContent = "Get Recommendation!";
                document.getElementById('reject').style.visibility = 'hidden';
                document.getElementById('accept').onclick = function () {
                    window.location.href = '/finalRecommend';
                };
            }


        }
        document.getElementById('accept').addEventListener('click', function () {
            currentindex++
            updatePage();
        }
        );
        document.getElementById('reject').addEventListener('click', function () {
            currentindex--
            updatePage();
        });
        updatePage();
    </script>


</body>

</html>