<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Recommendation</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
        }

        .recommendation {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="recommendation">
        FINAL RECOMMENDATION WILL BE HERE
    </div>

</body>

</html>